* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

section.hmw-list {
  position: relative;
height: 100vh;
  background-color: #a7c78e;
}

div.list-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  overflow: hidden;
}

.task {
  float: left;
  clear: both;
  font-size: 30px;
text-align: center;
  text-transform: uppercase;
  width: 25vw;
  height: 80px;
  background-color: white;
  margin: 20px;
  border: 1px solid rgba(30, 86, 14, 0.69);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.task a {
  display: block;
  height: 80px;
  padding: 24px;
}

.task:hover {
  background-color: bisque;
  color: darkslategrey;
}

div.user-card:hover {
  cursor: pointer;
}

div.user-card:nth-child(even) {
  background-color: chartreuse;
}